html {
    background-color: rgb(255, 149, 239);
}
div.title{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50pt;
    font-weight: bold;
}
div.title-2{
    color: rgb(37, 109, 209);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40pt;
}
div.intro{
    color: #74a7ff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25pt;
}
div.text1{
    color: rgb(110, 110, 110);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}
div.text2{
    color: rgb(110, 110, 110);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}
div.text3{
    color: rgb(110, 110, 110);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}