body{
    background-color: rgb(0, 0, 0);
}

img{
    width: 100%;
}

div.box{
    width: 50%;
    margin-left: auto;
    font-size: 20px;
}
div.box-2{
    font-size: 20px;
}

div.container{
    display: flex;
}

div.item50{
    font-size: 50px;
    width: 50%;
    background-color: rgb(255, 255, 255);
}

div.qoute{
    width: 75%;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 100px;
}

div.comtainer{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

div.item25{
    font-size: 50px;
    width: 50%;
    background-color: rgb(255, 255, 255);
}