body{
    background-image: url(p3.jpg);
    margin:0;
}

div {
    box-sizing: border-box;
}

a{
    color: rgb(180, 180, 180);
    text-decoration: none;
    filter: blur(3px);
    transition: 0.5s;
}

a:hover{
    color: snow;
    filter: blur(0px);
    transition: 0.5s;
}


div.menu{
    font-size: 30pt;
    font-family: 'BBB';
    color: aliceblue;
    align-items: center;
    height: calc(100vh - 40px);
    width: calc(33.33% - 20px);
    padding: 10px;
    margin: 10px;
    border: 1px solid snow;
    border-radius: 1px;
    font-size: 25pt;
    display: flex;
}

div.center{
    color: snow;
    font-family: "BBB3";
}

div.section{
    width: 200px;
    border: 1px solid snow;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.middle {
    width: 100%;
}

div.width33{
    width: 33.333%;
}

div.width66{
    width: 66.666%;
}

div.row{
    display: flex;
    flex-wrap: wrap;
}