body{
    background-image: url(p3.jpg);
    margin: 25px 50px;;
}

div {
    box-sizing: border-box;
}
div.menu{
    font-size: 30pt;
    font-family: 'BBB';
    color: aliceblue;
    align-items: center;
    height: calc(50vh - 40px);
    width: calc(33.33% - 20px);
    padding: 150px;
    margin: 10px;
    border: 1px solid snow;
    border-radius: 1px;
    font-size: 25pt;
    display: flex;
}

div.hpop {
    width: 700px;
    height: 700px;
    background-color: rgb(24, 24, 24);
    position:fixed;
    top: 50px;
    left:350px;
    cursor: pointer;
    opacity: 0;
  }

  div.htext{
    padding: 25px;
    margin: 20px;
    font-size: 20pt;
    color: snow;
    font-family: 'BBB';
  }
  
  div.hpop.show {
    opacity: 1;
  }

  div.atext{
    padding: 25px;
    margin: 20px;
    font-size: 20pt;
    color: snow;
    font-family: 'BBB';
  }
  
  div.apop.show {
    opacity: 1;
  }

  
div.row{
    display: flex;
    flex-wrap: wrap;
}