body{
    background-image: url(p3.jpg);
    margin: 25px 50px;;
}

div {
    box-sizing: border-box;
}
div.menu{
    font-size: 30pt;
    font-family: 'BBB';
    color: aliceblue;
    align-items: center;
    height: calc(50vh - 40px);
    width: calc(33.33% - 20px);
    padding: 150px;
    margin: 10px;
    border: 1px solid snow;
    border-radius: 1px;
    font-size: 25pt;
    display: flex;
}

div.hpop {
    width: 800px;
    height: 800px;
    background-color: rgb(57, 57, 57);
    position:fixed;
    top: 100px;
    left:350px;
    cursor: pointer;
    opacity: 0;
    color: snow;
  }
  
  div.hpop.show {
    opacity: 1;
  }

div.row{
    display: flex;
    flex-wrap: wrap;
}